
h3 = @task.topic
p = status_text(@task.status)
p = priority_text(@task.priority)
p = @task.start_time
p = @task.end_time
p = simple_format(@task.content)

p = link_to '回首頁', :controller => 'tasks', :action => 'index' 