// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-header{
  background-image: url("/assets/index_head.jpg");
  background-position: right bottom;
  background-size: cover;
  height: 650px;
}

.index-content1{
  background-color: #fafafa;
  min-height: 650px;    
}

.index-content2{
  background-image: url("/assets/index_content2.jpg");
  background-position: center bottom;
  background-size: cover;
  height: 600px;
}